# 忽略 .prop 配置文件
*.properties

### Java ###
*.class
*.log
*.jar
*.war
*.ear

### Build ###
/target/
/build/

### Maven ###
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Misc ###
HELP.md
